:root {
    --bg-color-primary: #005422;
    --bg-color-secondary: #66c46b;
    --bg-color-button: #5abf5f;
}

body {
    font-family: Roboto, sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.section-padding{
    padding: 100px 0px;
}

/* Header Section CSS Start */



/* Social */
.social {
    height: 37px;
    background-color: var(--bg-color-primary);
}

.logo {
    position: absolute;
    z-index: 1;
}

/* Nav */

.nav-section {
    padding: 25px 0px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    min-height: 70px;
}

.nav-bar {
    height: 100%;
}

.nav-bar ul {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    gap: 50px;
}

.nav-bar ul li a{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

.nav-bar ul li a:hover {
    color: var(--bg-color-secondary);
}


/* Banner */

.banner-image {
    width: 100%;
    height: 400px;
    position: relative;
}

.banner-text {
    background-color: var(--bg-color-secondary);
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    color: #fff;
    padding: 20px;

    position: absolute;
    left: 12%;
    bottom: -12%;

}

.banner-bottom {
    height: 130px;
    background-color: #000;
}
/* Header Section CSS End */

/* Main Section CSS Start */

.title {
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0px;
    font-weight: 500;
}

.waffh-content p {
    text-align: justify;
    font-size: 15px;
}

.button {
    text-transform: capitalize;
    padding: 5px 30px;
    border-radius: 15px;
    background-color: var(--bg-color-button);
    color: #fff;
    font-size: 14px;
    display: inline-block;
}

.know-more-btn {
    padding: 15px 0px 25px;
    margin-left: 12%;
}

.project-content {
    max-width: 95%;
    margin: 0 auto;
}

.project-content p,.card-item-content p {
    text-align: justify;
    color: #000000a9;
    font-size: 15px;
}

.card-item {
    padding: 30px;
    box-shadow: 00px 8px 15px 0px rgba(125, 147, 178, 0.24);
    background-color: #fff;
}

.card-item:hover {
    box-shadow: 0px 8px 30px 0px rgba(125, 147, 178, 0.24);
}

.card-title {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 0px;
}

.gal-slider-item {
    position: relative;
}

.gal-slider-item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--bg-color-secondary);
    z-index: -1;
    opacity: 0;
    transition: all .2s linear;
}

.gal-slider-item:hover::after{
    z-index: 10;
    opacity: .7;
    /* transition: all 10s ease-in-out; */
}


.gal-slider-item i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: all .2s linear;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}

.gal-slider-item:hover i {
    opacity: 1;
    z-index: 11;
}

.slider-section {
    padding: 50px 0px;
    background-color: var(--bg-color-secondary);
}

.slider-items {
    /* width: 40%; */
    width: 100%;
    /* height: 200px; */
}

.heading {
    background-color: var(--bg-color-primary);
    color: #fff;
    padding: 18px;
}

.heading h5 {
    font-weight: 700;
}

.heading p {
    margin: 0;
}

/* Key People Modal */

.modal-item {
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 0px 25px 0px 25px;
    transition: all .2s ease-in-out;
    background-color: #fff;
}

.modal-item:hover {
    background-color: var(--bg-color-secondary);
    color: #fff;
    cursor: pointer;
}

.modal-item img {
    border-radius: 0px 25px 0px 25px;
    /* min-height: 200px; */
}

.modal-item-content {
    text-align: center;
    padding: 10px 0px;
}

.modal-item-content h5 {
    margin: 0;
    font-size: 15px;
}

.modal-item-content p {
    margin: 0;
    font-size: 13px;
}

.modal-card {
    background-color: var(--bg-color-secondary);
    color: #fff;
    padding: 50px 25px;
}

.modal-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.modal-card-close-btn {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--bg-color-secondary);
    color: var(--bg-color-secondary);
    box-shadow: -4px 3px 5px 0px rgba(0,0,0,0.2);
}

.modal-card-content h5 {
    margin: 0;
}

.modal-card-content p {
    margin: 0;
}

.modal-card img {
    border-radius: 0px 25px 0px 25px;
    min-height: 100px;
}


.modal-card-description {
    padding: 10px;
    text-align: justify;
}

/* .modal-dialog {
    margin-left: 30%; 
    max-width: 900px; 
}*/

.modal-content {
    position: relative;
    /* width: 900px; */
}



/* Contact and Location */

.contact-card {
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 40px;
    background-color: #fff;
}

.contact-items-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-item {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.contact-item i {
    padding: 5px;
    background-color: var(--bg-color-secondary);
    color: #fff;
    border-radius: 20px;
}

.contact-item span {
    font-weight: 600;
}

.location-map {
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
}
/* Main Section CSS End */


/* Footer Start */

.footer-area {
    color: #fff;
}

.footer-wrap {
    padding: 60px 0px;
}

.footer-left-content h2 {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 36px;
}

.footer-left-content p {
    margin: 0;
}

.footer-right-content p {
    margin: 0;
    line-height: 2;
}

.footer-right-content {
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
    width: 100%;
    max-width: 300px;
}

.footer-lists {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.footer-lists li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-lists i {
    font-size: 5px;
    margin-top: 4px;
}

.footer-content-list {
    padding-top: 30px;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.footer-social i {
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
}

.copyright-text {
    padding: 25px 0px;
    font-size: 15px;
}

.copyright-text p {
    margin: 0;
}

.footer-left-content-img {
    display: flex;
}
/* Footer End */


/* owl-Carousel */

.owl-nav {
    font-size: 45px;
}

.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    background-color: var(--bg-color-primary);
    color: #fff;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    background-color: var(--bg-color-primary);
    color: #fff;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
    line-height: 0;
}



/* Slick Nav */

.slicknav_menu {
    font-size: 16px;
    box-sizing: border-box;
    background: transparent;
    padding: 5px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
}

.slicknav_nav {
    position: absolute;
    top: 55px;
    left: 0;
    background-color: var(--bg-color-primary);
    width: 100%;
}

.slicknav_nav ul {
    margin: 0;
}

.slicknav_nav a {
    text-transform: uppercase;
    width: 100%;
    display: block;
}

.slicknav_nav a:hover {
    background-color: var(--bg-color-secondary);
    border-radius: 0;
}

.slicknav_btn {
    background-color: var(--bg-color-primary);
    top: -5px;
}


.mobile-menu {
    display: none;
}

@media only screen and (max-width: 770px) {
	/* #menu is the original menu */
	 .nav-bar {
		display:none;
	}
	
	 .mobile-menu {
		display:block;
	}
}